.bg-naranja{
    background-color: rgb(255, 60, 0);
}

.text-naranja{
    color: rgb(255, 60, 0);
}

.bg-naranja_claro{
    background-color: rgb(255,202,85);
}

.text-naranja_claro{
    color: rgb(255,202,85);
}
